SECRET_KEY=HIER_ZUFALLSSTRING_EINSETZEN
INVITE_CODE=HIER_EINLADUNGSCODE_EINSETZEN
VAPID_PRIVATE_PEM=/home/pi/90tc-app/vapid_private.pem
VAPID_PUBLIC_KEY=HIER_VAPID_PUBLIC_KEY_EINSETZEN
VAPID_CLAIMS_EMAIL=mailto:HIER_EMAIL_EINSETZEN
PUSH_TRIGGER_SECRET=HIER_ZUFALLSSTRING_EINSETZEN
